.card {
    transition: transform 1.4s cubic-bezier(0.16, 1, 0.3, 1);

    .imageContainer {
        overflow: hidden;
    }

    .image {
        transition: transform 1.4s cubic-bezier(0.16, 1, 0.3, 1);
    }

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
        box-shadow: 0px 10px 57px 50px rgba(0,0,0,0.1);

        .image {
            transform: scale(1.4);
        }
    }
}