@import 'src/styles/mixins';
@import 'src/styles/variables';

.container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 94px;

    @include media-down($media-md) {
        padding: 0 16px;
    }
}

.centeredContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sectionContainer {
    padding: 124px 0;
}

.gridContainer {
    @include media-down(1320px) {
        padding: 0 80px;
    }

    @include media-down($media-md) {
        padding: 0 24px;
    }
}

.pageTitle {
    text-align: center;
}

.link {
    color: #1dbc55;
    position: relative;

    &::after {
        background-color: currentcolor;
        border-radius: 4px;
        bottom: 0;
        content: "";
        height: 1px;
        left: 0;
        opacity: .3;
        position: absolute;
        right: 0;
        transition: all .38s cubic-bezier(.76,0,.24,1);
    }

    &:hover {
        &::after {
            height: 100%;
            left: -2px;
            right: -2px;
            opacity: 0.1;
        }
    }
}

html {
    height: 100%;
  }
  
  body {
    margin: 0;
    color: #fff;
    /* Растягиваем body по высоте html */
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }