@import 'src/styles/mixins';
@import 'src/styles/variables';

.footerItem {
    padding: 0;

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.columnHeader {
    margin-bottom: 16px;
    font-size: 20px;
}

.content {
    padding: 20px 32px;
    margin: 0 auto;
    max-width: 1400px;

    @include media-up($media-md) {
        padding: 40px 96px;
    }
}