.section {
    position: relative;
    margin-top: 1000px;

    &.isVisible {
      .card {
        transform: translateY(-100px);
        transition: all 1s ease-in-out;
      }

      .title {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        border-right: 3px solid black;
        animation: cursor 0.75s step-end infinite, printed_text 5s steps(29);
      }
    }
}

.link {
    color: #1dbc55;
    position: relative;


    &::after {
        background-color: currentcolor;
        border-radius: 4px;
        bottom: 0;
        content: "";
        height: 1px;
        left: 0;
        opacity: .3;
        position: absolute;
        right: 0;
        transition: all .38s cubic-bezier(.76,0,.24,1);
    }

    &:hover {
        &::after {
            height: 100%;
            left: -2px;
            right: -2px;
            opacity: 0.1;
        }
    }
}

.title {
  margin-bottom: 124px;
  max-width: max-content;
  width: 100%;
  display: none;
}

@keyframes cursor {
    0% {
      border-color: black;
    }
  
    50% {
      border-color: transparent;
    }
  
    100% {
      border-color: black;
    }
  }
  
  @keyframes printed_text {
    from {
      width: 0;
    }
  }