.section {
    position: relative;
    margin-bottom: 248px;

    &.isVisible {
      .tracksCard {
        transform: translateY(100px);
        transition: all 2s ease-in-out;
      }

      .artistsCard{
        transform: translateY(50px);
        transition: all 1s ease-in-out;
      }

      .recentsCard {
        transform: translateY(100px);
        transition: all 3s ease-in-out;
      }

      .title {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        border-right: 3px solid black;
        animation: cursor 0.75s step-end infinite, printed_text 5s steps(29);
      }
    }
}

.itemCard {
  transform: translateY(300px);
}

.cardContainer {
  border-radius: 16px;
}

.cardTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}

.cardText {
  font-size: 16px;
  margin-bottom: 8px;
}

.title {
  max-width: max-content;
  width: 100%;
  display: none;
}

@keyframes cursor {
    0% {
      border-color: black;
    }
  
    50% {
      border-color: transparent;
    }
  
    100% {
      border-color: black;
    }
  }
  
  @keyframes printed_text {
    from {
      width: 0;
    }
  }