@import 'src/styles/mixins';
@import 'src/styles/variables';

.sidebarDesktop{
    position: fixed;
    overflow: hidden;
    border-radius: 16px;
    top: 70px;
    left: 60px;
    padding: 16px;
    transition: .3s ease-in-out all;
    width: 72px;

    &:hover {
        width: 240px;
        
        .itemText {
            opacity: 1;
        }
    }
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    transition: .3s ease-in-out all;
    width: 72px;
    z-index: 101;
    padding: 16px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;

    @include media-down($media-md) {
        display: none;
    }

    &:hover {
        width: 240px;
        
        .itemText {
            opacity: 1;
        }
    }
}

.item {
    display: flex;
    align-items: center;
    padding: 8px;
    transition: .3s ease all;
    cursor: pointer;
    border-radius: 8px;
    width: 100%;
    justify-content: flex-start;

    &:hover {
        background: #abb8c3;
    }

    &:not(:last-child) {
        margin-bottom: 8px;
    }
}

.itemText {
    margin-left: 8px;
    font-size: 16px;
    color: white;
    opacity: 0;
    white-space: nowrap;
    transition: opacity .3s ease-in-out;
}