@import 'assets/scss/app';

.sidebar {
    position: fixed;
    background: $color-gray;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.itemText {
    margin-left: 8px;
}